---
import Layout from "../layouts/Layout.astro";
import { Navbar } from "@/components/layout/Navbar";
import { Approach as ApproachTemplate } from "@/components/templates/Approach";
import { Footer } from "@/components/layout/Footer";
---

<Layout title="Approach | LastPiece Studio">
  <Navbar client:load pathname="/approach" />
  <main>
    <ApproachTemplate client:load />
  </main>
  <Footer />
</Layout>
