---
import Layout from "../layouts/Layout.astro";
import { Navbar } from "@/components/layout/Navbar";
import { Hero } from "@/components/layout/Hero";
import { WhoWeHelp } from "@/components/home/WhoWeHelp";
import { ProblemSolution } from "@/components/home/ProblemSolution";
import { Capabilities } from "@/components/home/Capabilities";
import { SelectedWork } from "@/components/home/SelectedWork";
import { Process } from "@/components/home/Process";
import { WhyLastPiece } from "@/components/home/WhyLastPiece";
import { FounderCredibility } from "@/components/home/FounderCredibility";
import { FAQ } from "@/components/home/FAQ";
import { Contact } from "@/components/layout/Contact";
import { Footer } from "@/components/layout/Footer";
---

<Layout title="LastPiece Studio | Digital Product Design">
  <Navbar client:load pathname="/" />
  <main>
    <Hero />
    <WhoWeHelp client:visible />
    <ProblemSolution client:visible />
    <Capabilities />
    <SelectedWork />
    <Process client:visible />
    <WhyLastPiece client:visible />
    <FounderCredibility client:visible />
    <FAQ client:visible />
    <Contact client:visible />
  </main>
  <Footer />
</Layout>
