---
import Layout from "../layouts/Layout.astro";
import { Navbar } from "@/components/layout/Navbar";
import { Services as ServicesTemplate } from "@/components/templates/Services";
import { Footer } from "@/components/layout/Footer";
---

<Layout title="Services | LastPiece Studio">
  <Navbar client:load pathname="/services" />
  <main>
    <ServicesTemplate client:load />
  </main>
  <Footer />
</Layout>
