---
import Layout from "../layouts/Layout.astro";
import { Navbar } from "@/components/layout/Navbar";
import { Studio as StudioTemplate } from "@/components/templates/Studio";
import { Footer } from "@/components/layout/Footer";
---

<Layout title="Studio | LastPiece Studio">
  <Navbar client:load pathname="/studio" />
  <main>
    <StudioTemplate client:load />
  </main>
  <Footer />
</Layout>
