---
import Layout from "../../layouts/Layout.astro";
import { Navbar } from "@/components/layout/Navbar";
import { AuraLifestyle as AuraLifestyleTemplate } from "@/components/templates/case-studies/AuraLifestyle";
import { Footer } from "@/components/layout/Footer";
---

<Layout title="Aura Lifestyle | LastPiece Studio">
  <Navbar client:load pathname="/work" />
  <main>
    <AuraLifestyleTemplate client:load />
  </main>
  <Footer />
</Layout>
